html {
  font-family: Roboto; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
      background-color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


section {
	clear: both;
	padding: 0px;
	margin: 0px;
    margin-top: 40px;
}

/*  GROUPING  ============================================================================= */

.row {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}
.box-box {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.span-1-of-3 {
	width: 20%;
    margin-right: 20px;
    margin-left: 20px; 
}




header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #dd5c88;
    color: #fff;
    height: 300px;
}
.desc-box{
       display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box p {
     font-size: 90%;
    line-height: 145%;
}

.plan, .plan-2 {
    background-color: #fcf0f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.plan-2{
    background-color: #fff;
    
}
.plan-2 button {
       padding: 12px 30px;
    background-color: #dd5c88;
    border: none;
    color: #fff;
    border-radius: 30px;
}
.plan button{
    padding: 12px 30px;
    background-color: #dd5c88;
    border: none;
    color: #fff;
    border-radius: 30px;
}

.hi-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.hi-box h5{
      line-height: 145%;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf0f4;
}

.footer{
    background-color: #dd5c88;

}
.footer h5 {
    color: #fff;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 145%;
}